footer{
    color: white;
}
body{
    background-color: rgb(53, 56, 73);

}
main{
    padding: 1rem;
    color: white;
}

#shopping-container{
    display: flex;
    padding: 1rem;
    
}

.shopping-list{
    min-width: 100%;
    list-style: none;
}

.shopping{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.shopping-item, .item-price{
    flex:1;
    margin: 0.5rem;
}

#complete-btn, #remove-btn{
    margin: 0.2rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}
h1{
    margin: 1rem;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem);
    opacity: 0;
}